<div data-search-target="results">
  <div class="row justify-content-center list-layout">
    <div class="col-2 layout">
      <a href="#search">Top</a>
      <% sections.each do |section|%>
        <a style="display:inline-block;" href="#<%= section %>"><%= section %></a>
      <% end %>
    </div>
    <div class="col-8 d-flex justify-content-center">
      <div class="card-continer">
        <% entries.keys.sort.each do |key| %>
          <h3 class="mt-4" id="<%= key %>"><%= key %></h3>
          <% entries[key].each do |entry| %>
            <%= render 'entry', entry: entry %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-2 layout" data-controller="randomize" data-randomize-list-value="<%= @list.id %>">
      <%= render 'upnext', random_selection: @random_selection %>
    </div>
  </div>
