<div data-randomize-target='upnext'>
  <% if @list.ordered %>
    <strong>Up Next</strong>
    <div class="layout-box my-3">
      <a href="#<%= @current.id %>"><%= @current.name %></a>
    </div>
  <% else %>
    <a>Up Next <i class="fa-solid fa-rotate-right" data-action="click->randomize#upnext"></i></a>
    <div class="layout-box my-3">
      <% random_selection.each do |entry|%>
        <a href="#<%= entry.id %>"><%= entry.name %></a>
        <br>
      <% end %>
    </div>
    <div class="layout-box-bottom">
      <% unless random_selection.empty? %>
        <%= link_to 'Pick for me', watch_entry_path(random_selection.sample)%>
      <% end %>
    </div>
  <% end %>
</div>
