<div class="lists-container my-4 ms-4">
  <div class="list">
    <%= link_to new_list_path do %>
      <img src="/images/upcoming.jpg" class="list-picture" alt="New Channel">
    <% end %>
    <p class="list-name">New Channel</p>
  </div>
  <% @lists.each do |list| %>
    <%= link_to list_watch_current_path(list) do %>
      <div class="list">
        <% current_entry = list.current_entry(current_user) %>
        <% if current_entry %>
          <%= entry_poster_image_tag(current_entry, class: 'list-picture', alt: list.name) %>
        <% else %>
          <img src="/images/please_stand_by.png" alt="<%= list.name %>" class="list-picture">
        <% end %>
        <p class="list-name"><%= list.name %></p>
        <%= link_to list_path(list) do %>
          <i class="fa-solid fa-list"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>
