<div class="container" data-controller="edit" data-controller="search" data-search-id-value="<%= @list.id %>">
  <div class="row justify-content-center layout-title">
    <h1 class="text-center">
      <span class="header-count"><%= @list_entries.count %></span> <%= @list.name %>
    </h1>
    <div class="list-input">
      <div class="list-options">
        <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
        <%# <i class="fa-solid fa-up-right-and-down-left-from-center"></i> %>
        <i class="fa-solid fa-copy"></i>
        <% if @list.user == current_user %>
          <%= link_to edit_list_path(@list) do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
          <%= link_to list_path(@list), method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </div>
      <div class="col-8 border-top">
        <%= form_with url: list_path(@list), method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            data: { action: "keyup->search#entries", search_target: "input"},
            placeholder: "Find a movie"
          %>
          <%# <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="list-options">
        <span class="btn-action"><%= link_to '+ Entry', new_list_entry_path(@list)%></span>
      </div>
    </div>
    <ul class="menu">
      <li><%= link_to 'Year', list_path(@list, criteria: 'Year'), data: { action: "click->search#entries"} %></li>
      <li><%= link_to 'Rating', list_path(@list, criteria: 'Rating'), data: { action: "click->search#entries"} %></li>
      <li><%= link_to 'Genre', list_path(@list, criteria: 'Genre'), data: { action: "click->search#entries"} %></li>
      <li><%= link_to 'Watched', list_path(@list, criteria: 'Watched'), data: { action: "click->search#entries"} %></li>
      <li><%= link_to 'Media', list_path(@list, criteria: 'Media'), data: { action: "click->search#entries"} %></li>
      <li><%= link_to 'Length', list_path(@list, criteria: 'Length'), data: { action: "click->search#entries"} %></li>
    </ul>
  </div>
  <%= render "entries", list: @list, entries: @entries, sections: @sections, random_selection: @random_selection, list_entries: @list_entries%>
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" data-edit-target="modal">
    </div>
  </div>
</div>
