<div class="row justify-content-center layout-title">
  <h1 class="text-center"><%= @list.name %></h1>
  <div class="col-2">
    <%= link_to 'Edit', edit_list_path(@list), class: 'btn btn-primary' %>
  </div>
  <div class="col-8" id="search">
    <%= text_field_tag :entry, nil, class: "input-bar", data: { controller: 'search', action: 'keyup->search#omdb' } %>
  </div>
  <div class="col-2">
    <%= link_to '+ Entry', new_list_entry_path(@list), class: 'btn btn-primary' %>
  </div>
  <ul class="menu">
    <li><%= link_to 'Year', list_path(@list, criteria: 'Year') %></li>
    <li><%= link_to 'Rating', list_path(@list, criteria: 'Rating') %></li>
    <li><%= link_to 'Genre', list_path(@list, criteria: 'Genre') %></li>
    <li><%= link_to 'Watched', list_path(@list, criteria: 'Watched') %></li>
    <li><%= link_to 'Media', list_path(@list, criteria: 'Media') %></li>
    <li><%= link_to 'Length', list_path(@list, criteria: 'Length') %></li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-2 layout">
      <a href="#search">Top</a>
      <% @sections.each do |section|%>
        <a style="display:inline-block;" href="#<%= section %>"><%= section %></a>
      <% end %>
    </div>
    <div class="col-6">
      <% @entries.keys.sort.each do |key| %>
        <h3 id="<%= key %>"><%= key %></h3>
        <% @entries[key].each do |entry| %>
          <div id="<%= entry.imdb %>" class="card mb-4 pb-2" style="height:fit-content;">
            <div class="row g-0">
              <p class="overflow-hidden"><%= entry.note %></p>
              <div class="col-6 pt-2 px-2">
                <img src="<%= entry.pic %>" class="card-img-top entry-card" alt="...">
              </div>
              <div class="col-6">
                <div class="card-body">
                  <h5 class="card-title"><%= entry.name %></h5>
                  <p><%= entry.year %></p>
                  <p><%= entry.length %> min</p>
                  <p>rating: <%= entry.rating %></p>
                  <p class="card__text"><%= entry.plot %></p>
                  <a href="https://v2.vidsrc.me/embed/<%= entry.imdb %>" class="btn btn-primary">Watch</a>
                </div>
              </div>
            </div>
            <p class="overflow-hidden"><%= entry.review %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-2 layout">
      <h2>Up Next</h2>
      <% @random_selection.each do |entry|%>
        <h4><a href="#<%= entry.imdb %>"><%= entry.name %></a></h4>
      <% end %>
    </div>
  </div>
</div>
