<div class="modal-content modal-placement">
  <div class="modal-header">
    <h5 class="modal-title" id="editModal<%= entry.id %>Label">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for(entry) do |f|%>
      <%= f.input :list, collection: @user_lists, selected: entry.list.id %>
      <%= f.input :name %>
      <%= f.input :source %>
      <%= f.input :pic %>
      <%= f.input :category %>
      <%= f.input :note %>
      <% if entry.media == 'series' %>
        <h3>Episodes</h3>
        <%= f.simple_fields_for :subentries do |subentry_form| %>
          <%= subentry_form.input :name %>
          <%= subentry_form.input :season %>
          <%= subentry_form.input :episode %>
          <%= subentry_form.input :source %>
          <%= subentry_form.input :_destroy, as: :boolean, label: 'Remove Subentry' %>
        <% end %>
      <% end %>
      <%= f.button :submit, class: 'btn-action' %>
    <% end %>
  </div>
</div>
