<div class="modal-content modal-placement">
  <div class="modal-header">
    <h5 class="modal-title" id="editModal<%= entry.id %>Label">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for(entry) do |f|%>
      <%= f.input :list, collection: @user_lists, selected: entry.list.id %>
      <%= f.input :name %>
      <%= f.input :source %>
      <%= f.input :pic %>
      <%= f.input :category %>
      <%= f.input :note %>
      <%= f.button :submit, class: 'btn-action' %>
    <% end %>
  </div>
</div>
