<div class="modal-content modal-placement">
  <div class="modal-header">
    <h5 class="modal-title" id="editModal<%= entry.id %>Label">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for(entry) do |f|%>
      <%= f.input :list_id, collection: @user_lists, selected: entry.list.id %>
      <%= f.input :position %>
      <%= f.input :name %>
      <%= f.input :media %>
      <%= f.input :source %>
      <%= f.input :pic, label: "Poster URL (or upload below)" %>

      <% if entry.poster.attached? %>
        <div class="mb-3">
          <label class="form-label">Current Poster</label>
          <div>
            <%= image_tag entry.poster, class: "img-thumbnail", style: "max-width: 200px; max-height: 300px;" %>
          </div>
        </div>
      <% end %>

      <%= f.input :poster, as: :file, label: "Upload New Poster Image", hint: "Replaces current poster if uploaded" %>
      <%= f.input :series %>
      <%= f.input :plot %>
      <%= f.input :category %>
      <%= f.input :note %>
      <% if entry.media == 'episode' %>
        <%= f.input :season %>
        <%= f.input :episode %>
      <% end %>
      <% if entry.media == 'series' %>
        <h3>Episodes</h3>
        <%= f.simple_fields_for :subentries do |subentry_form| %>
          <%= subentry_form.input :name %>
          <%= subentry_form.input :season %>
          <%= subentry_form.input :episode %>
          <%= subentry_form.input :source %>
          <%= subentry_form.input :_destroy, as: :boolean, label: 'Remove Subentry' %>
        <% end %>
      <% end %>
      <%= f.button :submit, class: 'btn-action', data: { bs_dismiss: "modal" }, aria_label: "Close" %>
    <% end %>
  </div>
</div>
