<div class="grid-card" id="<%= entry.imdb %>" data-controller="hover-play" data-action="mouseover->hover-play#showPlay">
  <%# <% if entry.note %>
    <%# <div class="card-note" style="grid-column: span 2;"><%= entry.note %></div> %>
  <%# <% end %>
  <%= link_to image_tag(entry.pic, data: { hover_play_target: 'poster' }), watch_entry_path(entry), class: "card-picture" %>
  <div class="card-title">
    <h4 class="card-header"><%= entry.name %></h4>
  </div>
  <div class="card-details">
    <div class="d-flex justify-content-between mt-1">
      <p><%= entry.year %></p>
      <p><%= entry.rating %></p>
    </div>
    <p class="card-plot"><%= entry.plot %></p>
    <p class="mb-1"><small><%= entry.genre %></small></p>
  </div>
  <div class="card-menu">
    <% if entry.list.user == current_user %>
      <i class="fa-<%= entry.completed ? "solid" : "regular"%> fa-eye"
      title="Mark as watched"
      data-controller="completed"
      data-completed-id-value="<%= entry.id %>"
      data-action="click->completed#toggle"></i>
      <%= link_to edit_entry_path(entry) do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
      <%= link_to entry_path(entry),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    <% end %>
    <i class="fa-solid fa-link-slash"
    style="color:<%= entry.stream ? "grey" : "red"%>"
    title="Report broken link"
    data-controller="link"
    data-link-id-value="<%= entry.id %>"
    data-action="click->link#toggle"></i>
    <%= link_to duplicate_entry_path(entry) do %>
      <i class="fa-sharp fa-regular fa-plus" title="Add to another list"></i>
    <% end %>
  </div>
  <%# if entry.review %>
    <%# <div class="card-review" style="grid-column: span 2;">Card Footer</div> %>
  <%# end %>
</div>
