<div class="container" data-controller='search' data-search-id-value="<%= @list.id %>" data-search-key="<%= "#{ENV['API_KEY_1']}-#{ENV['API_KEY_2']}-#{ENV['API_KEY_3']}"%>">
  <div class="row justify-content-center layout-title">
    <%= render 'lists/header_count', count: @list.entries.count, list: @list %>
    <div class="list-input">
      <div class="list-options">
      </div>
      <div class="col-8" id="search">
        <% if params['type'].nil? || params['type'] == 'movie' %>
          <%= text_field_tag :entry, nil, { class: 'd-flex form-control', data: { search_target: 'input', action: 'input->search#omdb' } } %>
        <% elsif params['type'] == 'show' %>
          <%= text_field_tag :entry, nil, { class: 'd-flex form-control', data: { search_target: 'input', action: 'input->search#omdbShow' } } %>
        <% elsif params['type'] == 'custom' %>
          <%= text_field_tag :entry, nil, { class: 'd-flex form-control', data: { search_target: 'input', action: 'input->search#custom' } } %>
        <% elsif params['type'] == 'episode' %>
          <%= text_field_tag :entry, nil, data: { search_target: 'input', action: 'input->search#omdbShow', placeholder: 'Enter show title or IMDb ID' } %>
          <%= text_field_tag :entry, nil, data: { search_target: 'season', action: 'input->search#omdbEpisode', placeholder: 'Season number' } %>
          <%= text_field_tag :entry, nil, data: { search_target: 'episode', action: 'input->search#omdbEpisode', placeholder: 'Episode number' } %>
        <% else %>
          <h5>Coming soon</h5>
        <% end %>
      </div>
      <div class="list-options">
      </div>
    </div>
    <ul class="menu">
      <li><%= link_to 'Movie', new_list_entry_path(@list, type: 'movie')%></li>
      <li><%= link_to 'Show', new_list_entry_path(@list, type: 'show')%></li>
      <li><%= link_to 'Episode', new_list_entry_path(@list, type: 'episode')%></li>
      <li><%= link_to 'Book', new_list_entry_path(@list, type: 'Book')%></li>
      <li><%= link_to 'Game', new_list_entry_path(@list, type: 'game')%></li>
    </ul>
  </div>
  <div class="row justify-content-center list-layout">
    <div class="col-8 d-flex justify-content-center">
      <div data-search-target="results">
        <%= simple_form_for(@entry) do |f|%>
          <%= f.input :list, collection: List.where(user: current_user), selected: @list.id %>
          <%= f.input :name %>
          <%= f.input :source %>
          <%= f.input :pic %>
          <%= f.input :category %>
          <%= f.input :note %>
          <%= f.input :review %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<template id="movieCardTemplate">
  {{#movies}}
  <div class="grid-card" id="{{imdbID}}">
    <div class="card-picture">
      <a href="https://v2.vidsrc.me/embed/{{imdbID}}"><img src="{{Poster}}" class="card-img-top" alt="Watch {{Title}} now"></a>
      <span class="fa-stack fa-4x play-button">
        <i class="fa fa-circle fa-stack-2x icon-background"></i>
        <a href="https://v2.vidsrc.me/embed/{{imdbID}}"><i class="fa fa-play fa-stack-1x"></i></a>
      </span>
    </div>
    <div class="card-stuff w-100 p-auto">
      <div class="card-spacer"></div>
      <div class="card-title">
        <h5 class="card-header"><bold>{{Title}}</bold></h5>
      </div>
      <div class="card-details">
        <div class="d-flex justify-content-between">
          <p>{{Year}}</p>
          <p>{{Rating}}</p>
        </div>
        <p class="mb-4"><small>{{Genre}}</small></p>
        <p class="card-plot">{{Plot}}</p>
      </div>
      <div class="card-menu">
        <i class="fa-solid fa-play"></i>
        <turbo-frame id="entry_{{imdbID}}_partial">
          <form action="/lists/<%= @list.id %>/entries" method='post'>
            <input class='d-none' name='imdb' value='{{imdbID}}'>
            <button type='submit' name='create' value='create' class="btn btn-primary">+ Entry</button>
          </form>
        </turbo-frame>
      </div>
    </div>
  </div>
  {{/movies}}
</template>
<template id="showCardTemplate">
  {{#movies}}
  <div class="card mb-4 pb-2" style="height: 25vh;">
    <div class="row g-0">
      <div class="col-6 pt-2 px-2">
        <img src="{{Poster}}" class="card-img-top" alt="{{Title}} poster">
      </div>
      <div class="col-6" style="100%">
        <div class="card-body">
          <h6 class="card-title">{{Title}}</h6>
          <p class="card-text">{{Year}}</p>
          <p class="card-text">{{totalSeasons}}</p>
          <turbo-frame id="entry_{{imdbID}}_partial">
            <form action="/lists/<%= @list.id %>/entries" method='post'>
              <input class='d-none' name='imdb' value='{{imdbID}}'>
              <button type='submit' name='create' value='create' class="btn btn-primary">+ Entry</button>
            </form>
          </turbo-frame>
          <%# <button class="btn btn-primary" data-action="click->search#add" data-imdb="{{imdbID}}">+ movie</button> %>
          <%# <a href="{{url}}" >+ movie</a> %>
        </div>
      </div>
    </div>
  </div>
  {{/movies}}
</template>
<template id="episodeCardTemplate">
  {{#movies}}
  <div class="card mb-4 pb-2" style="height: 25vh;">
    <div class="row g-0">
      <div class="col-6 pt-2 px-2">
        <img src="{{Poster}}" class="card-img-top" alt="{{Title}} poster">
      </div>
      <div class="col-6" style="100%">
        <div class="card-body">
          <h6 class="card-title">{{Title}}</h6>
          <p class="card-text">S{{Season}}E{{Episode}}</p>
          <turbo-frame id="entry_S{{Season}}E{{Episode}}_partial">
            <form action="/lists/<%= @list.id %>/entries" method='post'>
              <input class='d-none' name='imdb' value='{{imdbID}}'>
              <button type='submit' name='create' value='create' class="btn btn-primary">+ Entry</button>
            </form>
          </turbo-frame>
          <%# <button class="btn btn-primary" data-action="click->search#add" data-imdb="{{imdbID}}">+ movie</button> %>
          <%# <a href="{{url}}" >+ movie</a> %>
        </div>
      </div>
    </div>
  </div>
  {{/movies}}
</template>
