<div class="cinema__screen" data-list-auto-next="<%= @entry.list.auto_next? %>" data-list-ordered="<%= @entry.list.ordered? %>">
  <iframe id="cinema"
      title="<%= @entry.name %>"
      referrerpolicy="origin"
      width="100%"
      height="100%"
      allowfullscreen
      allow="autoplay"
      src="<%
             # Determine which source to use based on preferred_source settings
             preferred_source = @entry.preferred_source || @entry.list.preferred_source
             base_source = preferred_source == 2 ? @entry.source_two : @entry.source

             # Determine autoplay setting based on list auto_play preference
             autoplay_param = @entry.list.auto_play? ? "1" : "0"

             if @entry.media == 'series'
               source = "#{base_source}/#{@entry.current&.season}-#{@entry.current&.episode}?autoplay=#{autoplay_param}"
             elsif @entry.media == 'episode'
               source = "#{base_source}?autoplay=#{autoplay_param}"
             elsif @entry.media == 'movie'
               source =  "#{base_source}?autoplay=#{autoplay_param}"
             else
               source = base_source
             end
           %><%= source %>
          ">

  </iframe>
  <%# <i class="fa-solid fa-expand cinema__control" data-action="click->cinema#fullscreen"></i> %>

  <div class="cinema__title">
    <h3 class="d-flex align-items-center list-name-container" onmouseover="this.querySelector('.unsubscribe-icon').style.opacity='1'" onmouseout="this.querySelector('.unsubscribe-icon').style.opacity='0'">
      <%= link_to @entry.list.name, list_path(@entry.list), class: 'text-white text-decoration-none me-2' %>
      <%= link_to list_unsubscribe_path(@entry.list, redirect_to_sibling: true),
          method: :patch,
          class: "unsubscribe-icon text-white",
          style: "opacity: 0; transition: opacity 0.2s; cursor: pointer; font-size: 0.8em;",
          data: { turbo_method: :patch, turbo_confirm: "Unsubscribe from #{@entry.list.name}?" } do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </h3>
    <h1><%= @entry.name %></h1>
    <% if @entry.media == "series" && @entry.current %>
      <h3><%= @entry.series %></h3>
      <h3>S<%= @entry.current.season %>E<%= @entry.current.episode %> - <%= @entry.current.name %></h3>
    <% elsif @entry.media == "episode" %>
      <h3><%= @entry.series %> - S<%= @entry.season %>E<%= @entry.episode %></h3>
    <% end %>

    <% if @entry.completed_by?(current_user) %>
      <% user_review = current_user&.review_for(@entry) %>
      <% if user_review %>
        <div class="mt-2">
          <small class="text-info">
            <i class="fa-solid fa-star text-warning"></i>
            Your rating: <%= user_review %>/10
          </small>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center cinema__control mt-5 me-5">
    <div class="position-relative" style="width: 80px; height: 80px;">
      <%= link_to list_watch_current_path(@entry.list.find_sibling(:previous)) do %>
        <i class="fa-solid fa-3x fa-caret-up position-absolute top-0 start-50 translate-middle-x"></i>
      <% end %>
      <%= link_to increment_current_entry_path(@entry, mode: 'watch'), class: 'text-decoration-none' do %>
        <i class="fa-solid fa-3x fa-caret-right position-absolute top-50 end-0 translate-middle-y"></i>
      <% end %>
      <%= link_to shuffle_current_entry_path(@entry, mode: 'watch'), class: 'text-decoration-none' do %>
        <i class="fa-solid fa-2x fa-shuffle position-absolute top-0 end-0 translate-middle-y"></i>
      <% end %>
      <i class="fa-solid fa-pen fa-2x position-absolute bottom-0 end-0 translate-middle-y" data-bs-toggle="modal" data-bs-target="#editModal" data-id="<%= @entry.id %>" data-action="click->edit#toggle"></i>
      <div class="position-absolute top-0 start-0 translate-middle-y">
        <%= render 'entries/completion_status', entry: @entry, user: current_user %>
      </div>
      <%= link_to list_watch_current_path(@entry.list.find_sibling(:next)) do %>
        <i class="fa-solid fa-3x fa-caret-down position-absolute bottom-0 start-50 translate-middle-x"></i>
      <% end %>
      <%= link_to decrement_current_entry_path(@entry, mode: 'watch'), class: 'text-decoration-none' do %>
        <i class="fa-solid fa-3x fa-caret-left position-absolute top-50 start-0 translate-middle-y"></i>
      <% end %>
      <%= link_to toggle_preferred_source_entry_path(@entry, mode: 'watch'), class: 'text-decoration-none', data: { turbo_method: :patch } do %>
        <i class="fa-solid fa-link-slash fa-2x position-absolute bottom-0 start-0 translate-middle-y"></i>
      <% end %>
      <%= link_to root_path, class: 'text-decoration-none' do %>
        <i class="fa-solid fa-house fa-2x position-absolute top-50 start-50 translate-middle"></i>
      <% end %>
    </div>
  </div>
  <!-- Review Modal -->
  <%= render 'entries/review_modal' %>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" data-edit-target="modal">
      <div class="modal-content">
      <div class="modal-header">
    <h5 class="modal-title" id="editModal<%= @entry.id %>Label">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for(@entry, html: { data: { turbo: false } }) do |f| %>
      <%= f.input :name %>
      <%= f.input :source %>
      <%= f.input :plot %>
      <% if @entry.media == 'episode' %>
        <%= f.input :season %>
        <%= f.input :episode %>
      <% end %>
      <%= f.button :submit %>
    <% end %>
    </div>
    </div>
  </div>
</div>

</div>

<!-- Auto-advance modal temporarily disabled -->
<%# render 'entries/auto_advance_modal', entry: @entry, list: @entry.list %>
