<!DOCTYPE html>
<html>
  <head>
    <title>HowToWatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="cinema__mode <%= @sidebar_collapsed ? 'sidebar-collapsed' : '' %> <%= user_signed_in? && !@hide_sidebar ? 'has-sidebar' : '' %> has-entries-sidebar">
    <%= render 'shared/flashes' %>

    <% if user_signed_in? && !@hide_sidebar %>
      <%= render "shared/sidebar" %>
    <% end %>

    <div class="page-container" id="pageContainer" style="margin: 0; width: 100%;">
      <%= yield %>
    </div>
  </body>
</html>
